#anime-title{
	font-family: $font-lato;
	font-size: 1.5rem;
	font-weight: bold;
}

.anime-detail{
	font-family: $font-lato;
	font-size: 1rem;
}

.anime-synopsis{
	font-family: $font-lato;
	font-size: 1rem;
}
